h1
{
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-top: 20px;
}

h2, h3
{
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body
{
  margin: 0;
}

a
{
  cursor: pointer;
  text-decoration: none;
  color: #336699;
}

button
{
  font-family: Arial;
  background-color: #eee;
  border: none;
  margin: auto 3px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;

  &.red
  {
    background-color: rgba(255, 51, 51, 0.7);
  }
  &.green
  {
    background-color: rgba(0, 179, 60, 0.5);
  }
  &.blue
  {
  background-color:  rgba(55,118,195,0.5);
  }
  &.purple
  {
    background-color: rgba(117,56,161,0.5);
  }
  &.yellow
  {
    background-color:rgba(253,252,3,0.9);
  }
  &.black
  {
    background-color:rgba(0,0,0,0.8);
  }
  &.orange
  {
    background-color:rgba(255, 153, 51, 0.9);
  }
  &.white
  {
    background-color:white;
    border: 1px solid #aaa;
  }
}

button:focus
{
  outline: none;
}

.photo-container
{
  display: block;
}
.photo{
    display: inline-block;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 0px 51px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 51px 3px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 51px 3px rgba(0,0,0,0.21);
}

.app-wrapper
{
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
