<div class="app-wrapper">
    <h1>flickr by angular</h1>

    <button (click)="searchPhoto('red')" class="red"></button>
    <button (click)="searchPhoto('orange')" class="orange"></button>
    <button (click)="searchPhoto('yellow')" class="yellow"></button>
    <button (click)="searchPhoto('green')" class="green"></button>
    <button (click)="searchPhoto('blue')" class="blue"></button>
    <button (click)="searchPhoto('purple')" class="purple"></button>
    <button (click)="searchPhoto('black')" class="black"></button>
    <button (click)="searchPhoto('white')" class="white"></button>

    <div class="photo-container">
        <div *ngFor="let photo of photos" class="photo" [ngStyle]="{'background-image': 'url(' + photo.url + ')'}"></div>
    </div>
</div>
